$black: #000;
$white: #fff;
$gray: #d9d9d9;
$darkgray: #717171;
$lightred: #fdf0f0;
$blue: #3288ff;
$lightblue: #cfe3ff;
$lightblue-50: #eff5ff;
$paleblue: #f8f9fe;
$purple: #7f56d9;
$red: #eb003b;
$green: #008a1e;
$yellow: #ffb724;
$kakao: #fee500;
