@import '@/styles/theme.module.scss';
@import '@/styles/font.module.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  border: transparent;
  border-radius: 3rem;
}

.chatting {
  background-color: $paleblue;
}

.search {
  padding-left: 4rem;
  border: 2px solid $gray;
}

.icon {
  position: absolute;
  top: 50%;
  left: calc(5% + 2.4rem);
  transform: translate(-50%, -50%);
  z-index: 1;
}
