@import '@/styles/theme.module.scss';
@import '@/styles/font.module.scss';

.container {
  @include Pretendard;
  width: 100%;
  height: 100%;
}

.myinfo {
  @include Pretendard;
  width: 100%;
  height: 35%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
}

.kakaoinfo {
  @include Pretendard;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.kakaoprofileimg {
  @include Pretendard;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.kakaoprofileimg img {
  @include Pretendard;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kakaoprofiledetail {
  @include Pretendard;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
}

.kakaonickname {
  @include Pretendard;
  font-weight: bold;
  font-size: 2.5rem;
}

.kakaoemail {
  @include Pretendard;
  font-size: 1.3rem;
}

.accountinfo {
  @include Pretendard;
  width: 100%;
  height: 65%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.card {
  @include Pretendard;
  width: 100%;
  height: 100%;
  background-color: #3288ff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 3%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.bankinfo {
  @include Pretendard;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.bankinfodetail {
  @include Pretendard;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bankname {
  @include Pretendard;
  font-size: 1.5rem;
  font-weight: bold;
}

.accountnum {
  @include Pretendard;
  font-size: 1.4rem;
  text-decoration: underline;
}

.certokay {
  @include Pretendard;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.1rem;
}

.certokay div {
  @include Pretendard;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.balance {
  @include Pretendard;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}

.balance span {
  @include Pretendard;
  font-size: 3rem;
  font-weight: bold;
}

.accountbtn {
  @include Pretendard;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.accountbtn button {
  @include Pretendard;
  flex: 1;
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.accountbtn::before {
  content: '';
  @include Pretendard;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #3288ff;
  transform: translateX(-50%);
}

.cardnoncert {
  @include Pretendard;
  width: 100%;
  height: 100%;
  background-color: #3288ff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 6%;
  padding-bottom: 6%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
}

.cardnoncert div {
  @include Pretendard;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.cardnoncert div span {
  @include Pretendard;
  font-weight: bold;
  font-size: 1.3rem;
}

.sumofmoney {
  @include Pretendard;
  width: 100%;
  height: 10%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moneydetail {
  @include Pretendard;
  flex: 1;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.redspan {
  color: #f02121;
}

.bluespan {
  color: #3288ff;
}

.listContainer {
  @include Pretendard;
  width: 100%;
  height: 45%;
  padding-left: 5%;
  padding-right: 5%;
}

.tabContainer {
  @include Pretendard;
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: space-between;
}

.tabButton {
  @include Pretendard;
  flex: 1;
  font-size: 1.6rem;
  color: #999;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #333;
  }
}

.active {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #333;
}

.listContent {
  @include Pretendard;
  width: 100%;
  height: 87%;
  padding: 8%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.category {
  @include Pretendard;
  margin-bottom: 10px;
  cursor: pointer;

  span {
    @include Pretendard;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
  }
}

.details {
  @include Pretendard;
  margin-left: 10px;
  padding: 5px 0;
}

.dealItem {
  @include Pretendard;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
